<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container-views">
        <div class="load-animate">
            <div class="card">
                <div class="tools">
                  <div class="circle">
                    <span class="red box"></span>
                  </div>
                  <div class="circle">
                    <span class="yellow box"></span>
                  </div>
                  <div class="circle">
                    <span class="green box"></span>
                  </div>
                </div>
                <div class="card__content">
                    <h1>Error</h1>
                    <p id="errorMessage"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('message');
        document.getElementById('errorMessage').innerText = errorMessage;

        document.addEventListener("DOMContentLoaded", function() {
        const content = document.querySelector('.load-animate');
        setTimeout(() => {
            content.classList.add('show');
        }, 500); // Delay added for effect (0.5 seconds)
    });
    </script>
</body>
</html>